:root:root {
  --van-button-plain-background: transparent;
  --van-primary-color: #DFBE5B;
  --van-button-normal-font-size: 12px;
  --van-button-radius: 7px;


  --skin__bg-shadow__custom: rgba(0, 0, 0, 0.06);
  --skin__bg_1: #000;
  --skin__bg_2: #191919;
  --skin__lead: #FFF;
  --skin__neutral_1: #BCBCBC;
  --skin__neutral_2: #656565;
  --skin__primary: #DFBE5B;
  --skin__border: #242424;
  --lobby__px: 1px;
  --skin__accent_2: #F84673;
  --van-popup-background: var(--skin__bg_2);
  --skin__filter_active: #DFBE5B;
  --skin__neutral_3: #525252;
  --skin__text_primary: white;
  --skin__accent_1: #1FE11F;
  --skin__accent_3: #FFAA09;

  --van-popover-light-background: var(--skin__bg_2);
  --van-popover-radius: 7px;

  --skin__left_nav_def: #BCBCBC;
  --skin__left_nav_active: #FFFFFF;
  --skin__web_left_bg_shadow: #0000001F;
  --skin__label_text_accent3: var(--skin__lead);
}
