:root:root {
  --van-button-plain-background: transparent;
  --van-primary-color: #DFBE5B;
  --van-button-normal-font-size: 12px;
  --van-button-radius: 7px;


  --skin__bg-shadow__custom: rgba(0, 0, 0, 0.06);
  --skin__bg_2: #191919;
  --skin__lead: #FFF;
  --skin__neutral_2: #656565;
  --skin__primary: #DFBE5B;
  --skin__border: #242424;
  --lobby__px: 1px;
}
